# Model checkpoints
*.pth
*.pt

# CIFAR-10 dataset
data/*.tar.gz
data-/*.tar.gz

# Python
__pycache__/
*.py[cod]

# Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/